<h1>To Do List</h1>

<%= link_to 'ADD LIST', new_todo_path %>

<ul>
	<% @todos.each do |todo| %>
	<li>
		<%= todo.title %>
		<%= todo.due_date %>
		<%= link_to 'DEL', todo_path(todo), method: :delete, data:{
				confirm: "Delete this item ?"
			} %>


	</li>
	<% end %>
</ul>


